body {
  background-image: url("../images/reception2.jpg");
  background-size: 1380px;
}
h1 {
  font-size: 70px;
  color: gold;
  font-family: courier;
}
p1 {
  color: gold;
  font-size: 30px;
}
h2 {
    font-size: 50px;
  font-family: serif;
  text-align: center;
  color: black;
}
.link {
  color: white;
  font-size: 15px;
}
.head {
  color: gold;
}
p2 {
  color: white;
  font-size: 30px;
}
p3 {
  color: white;
  font-size: 30px;
}
